
{% extends '/front/base.html.twig' %}

{% block title %}
    Profil Utilisateur
{% endblock %}

{% block body %}
    <section class="section section-profile parallax-container" data-parallax-img="images/bg-profile.jpg">
        <div class="parallax-content">
            <div class="container">
                <div class="row justify-content-center my-5">
                    <div class="col-lg-8">
                        <div class="card border-primary shadow-lg">
                            <div class="card-body p-5">
                                <div class="row align-items-center">
                                 {{ include('reclamation/_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
