<form method="post" action="{{ path('app_candidat_delete', {'idc': candidat.idc}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.idc) }}">
    <button class="btn">Delete</button>
</form>
